<!DOCTYPE html>
<html>
  <head>
    <title>TEST <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TEST / <%= title %></h1>
    <p>Welcome to <%= title %></p>
    This is the test page
  </body>
</html>